@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500;700;800&display=swap');

body {
    background-color: #121B27;
    font-family: 'Kumbh Sans', sans-serif;
    overflow-x: hidden;
    width: auto;
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.brand {
    color: #eee;
    font-weight: 550;
}

.btns {
    color: #eee;
    background: none;
    border-radius: 50px;
    padding: .5rem 2rem;
    --bs-btn-padding-y: .0rem;
    --bs-btn-padding-x: 2rem;
    /* --bs-btn-font-size: .75rem; */
    border: solid 3px transparent;
    position: relative;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(150deg, #0f084b, #bd2d87);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #0d0221 inset;
}

.con {
    text-align: center;
    margin-top: 5rem;
}

.con p {
    color: #eee;
    width: 100%;
    padding: 0 16%;
}

.use {
    padding: .7rem;
    color: white;
    font-size: large;
}

.name {
    background: #0d0221;
    border: solid 1px white;
    padding: .5rem .5rem .5rem 2.5rem;
    color: #eee;
    border-radius: 10px;
    width: 30%;

}

.get {
    color: #fff;
    background: linear-gradient(150deg, #0f084b, #bd2d87);
    border: none;
    width: 30%;
}

.get:hover {
    color: white;
}

.eclipse1 {
    position: absolute;
    left: 1rem;
}

.img {
    position: absolute;
    right: 17rem;
    top: 7rem;
    width: 5rem;
    /* z-index: 1; */
}

.star4 {
    position: absolute;
    left: 29%;
    width: 2rem;
}

.star2 {
    position: absolute;
    right: 10rem;
    width: 2rem;
    top: 40%;
}

.vector {
    position: absolute;
    width: 4rem;
    right: 32%;
    top: 27rem;
}

.line {
    width: 10rem;
    margin-left: 3rem;

}

section {
    margin-top: 10rem;
    display: flex;
    gap: 30%;
}



.text {
    /* text-align: left; */
    color: #eee;
    width: 100%;
}

.form {
    color: #fff;
    padding: 2rem;
    width: 70%;
    border-radius: 20px;
    background-color: #1D2939;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.inp {
    outline: none;
    border: 1px solid white;
    background: none;
    width: 100%;
    padding: .5rem;
    border-radius: 5px;
}

.sel {
    outline: none;
    border: 1px solid white;
    background: none;
    width: 100%;
    padding: .5rem;
    border-radius: 5px;
    color: white;
    background-color: #1D2939;
}

textarea {
    background-color: #1D2939;
    color: #eee;
    padding: .5rem;
    border-radius: 8px;
}

.footer {
    margin-top: 5rem;
    border-top: 1px solid white;
    padding: 1rem 0;
    color: #eee;
    display: flex;
    /* justify-content: space-between; */
}

.popup-section {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
}

.popup-section img {
    width: 300px;
}

.pg{
    margin-left: -30%;
}

@media(max-width: 500px){
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    section .form{
        width: 100%;
    }
    section .text{
        text-align: center;
    }
    section .line{
        margin: 0;
    }
    .con p{
        padding: 0;
    }
    .name{
        width: 100%;
    }
    .con button{
        width: 100%;
    }
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .star4{
        left: 0;
    }
    .star2{
        top: 80%;
        right: 10%;
    }
    .vector{
        display: none;
    }
    .popup-section{
        top: 0;
    }
}